* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    text-align: center;
}


input, select {
    margin-bottom: 30px; 
}

.label {
    margin-bottom: 10px; 
    padding-top: 30px; 
}

table {
    margin-left: auto;
    margin-right: auto; 
    table-layout: fixed;
    width: 40%;
    border-collapse: collapse;
    border: 3px solid blue;
}

th, td {
    padding: 20px;
  }

  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }

  tbody tr:nth-child(odd) {
    background-color: #ff33cc;
  }
  
  tbody tr:nth-child(even) {
    background-color: #e495e4;
  }

#degrees {
    background-color: hsla(200, 100%, 50%, 1)
}

#calculate {
    background-color: hsla(210, 100%, 50%, 1)
}

#output {
    color: hsla(220, 100%, 50%, 1)
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    body {
        font-size: 1.5em; 
     }
  }